{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
{% endblock %}

{% block body %}
    <form method="post">
        <h1>Connectez-vous !</h1>
        <div class="form-row">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="_username" id="email" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
            </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
        <a href="{{ path('app_register') }}" class="small-link"><small>Pas encore de compte ? Créez le vôtre !</small></a>
    </form>
{% endblock %}

{% block topOfMain %}
    {% embed 'components/_returnBtn.html.twig' %}{% endembed %}
{% endblock %}

{% block navbar %}
{% endblock %}
